:root,
:root.light {
  --cactus-text-color--soft: #999;
  --cactus-text-color--verysoft: #000000;
  --cactus-background-color--strong: #fafafa;
  --cactus-border-color: #d9d9d9;
  --cactus-box-shadow-color: rgba(51, 51, 51, 0.3);
  --cactus-button-text-color: inherit;
  --cactus-button-color: #ccc;
  --cactus-button-color--strong: #bfbfbf;
  --cactus-button-color--stronger: #b3b3b3;
  --cactus-login-form-text-color: inherit;
  --cactus-border-width: 1px;
  --cactus-border-radius: 0.5em;
  --cactus-text-color: inherit;
  --cactus-background-color: transparent;
  --cactus-error-color: red;
}

:root.dark {
  --cactus-text-color--soft: grey;
  --cactus-text-color--verysoft: rgb(128, 128, 128);
  --cactus-background-color--strong: #1a1a1a;
  --cactus-border-color: #333;
  --cactus-box-shadow-color: #1a1a1a;
  --cactus-button-text-color: #ccc;
  --cactus-button-color: #404040;
  --cactus-button-color--strong: #4d4d4d;
  --cactus-button-color--stronger: #595959;
  --cactus-login-form-text-color: #ccc;
}

@media (prefers-color-scheme: light) {
  :root {
    --cactus-text-color--soft: grey;
    --cactus-text-color--verysoft: rgba(128, 128, 128, 1);
    --cactus-background-color--strong: rgb(251, 251, 251);
    --cactus-border-color: rgba(128, 128, 128, 0.4);
    --cactus-box-shadow-color: rgba(0, 0, 0, 0.5);
    --cactus-button-text-color: rgb(251, 251, 251);
    --cactus-button-color: rgb(30, 30, 30);
    --cactus-button-color--strong: #4d4d4d;
    --cactus-button-color--stronger: #595959;
    --cactus-login-form-text-color: #ccc;
    --cactus-text-color: rgb(30, 30, 30);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --cactus-text-color--soft: rgba(255, 255, 255, 0.25);
    --cactus-text-color--verysoft: rgb(255, 255, 255, 0.35);
    --cactus-background-color--strong: rgb(29, 30, 32);
    --cactus-border-color: rgba(255, 255, 255, 0.2);
    --cactus-box-shadow-color: rgba(0, 0, 0, 0.5);
    --cactus-button-text-color: rgb(29, 30, 32);
    --cactus-button-color: rgb(218, 218, 219);
    --cactus-button-color--strong: rgba(218, 218, 219, 0.8);
    --cactus-button-color--stronger: rgba(218, 218, 219, 0.7);
    --cactus-login-form-text-color: #ccc;
    --cactus-text-color: rgb(251, 251, 251);
  }
}

.post-content a {
  box-shadow: 0 0;
}

.cactus-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--cactus-text-color);
  background-color: var(--cactus-background-color);
}
.cactus-error {
  padding: 0.5em;
  padding-inline-end: 1.5em;
  border: var(--cactus-border-width) solid var(--cactus-error-color);
  border-radius: var(--cactus-border-radius);
  position: relative;
}
.cactus-error-close {
  position: absolute;
  right: 0.2em;
  top: 0;
  color: var(--cactus-button-color);
  background-color: transparent;
  border: none;
}
.cactus-error-close:hover:not([disabled]) {
  color: var(--cactus-button-color--strong);
  cursor: pointer;
}
.cactus-error-close:active:not([disabled]) {
  color: var(--cactus-button-color--stronger);
  cursor: pointer;
}
.cactus-error-close-icon {
  inline-size: 20px;
  block-size: 20px;
}
.cactus-error-text {
  color: var(--cactus-error-color);
  font-weight: 700;
  margin: 0;
}
.cactus-editor {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cactus-editor > span {
  display: flex;
}
.cactus-editor-textarea {
  display: flex;
  flex: 1;
  height: 7rem;
  border-radius: var(--cactus-border-radius);
  border: solid var(--cactus-border-width) var(--cactus-border-color);
  padding: 0.75em 1em;
  box-sizing: content-box;
  background-color: transparent;
  color: inherit;
  font: inherit;
  font-size: 90% !important;
}
.cactus-editor-textarea::placeholder {
  text-align: left;
  line-height: 1.6rem;
  font-size: inherit;
  color: var(--cactus-text-color--verysoft);
}
.cactus-editor-below {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-end;
}
.cactus-editor-name {
  display: flex;
  flex: 1;
}
.cactus-editor-name > span {
  display: flex;
  flex: 1;
}
.cactus-editor-name > span > input {
  inline-size: 100%;
  border-radius: var(--cactus-border-radius);
  border: solid var(--cactus-border-width) var(--cactus-border-color);
  padding: 0.75em 1em 0.75em 1em;
  background-color: transparent;
  color: inherit;
  font-size: 90% !important;
}
.cactus-editor-name > span > input::placeholder {
  color: var(--cactus-text-color--verysoft);
}
.cactus-editor-buttons {
  display: flex;
  gap: 0.5em;
}
.cactus-matrixdotto-only {
  align-self: center;
  text-decoration: none;
}
.cactus-login-form-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cactus-login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2rem;
  border-radius: var(--cactus-border-radius);
  background-color: var(--cactus-background-color--strong);
  color: var(--cactus-login-form-text-color);
  border-radius: var(--cactus-border-radius);
  border: solid var(--cactus-border-width) var(--cactus-border-color);
  box-shadow: 0em 0em 0em 200vw var(--cactus-box-shadow-color);
  box-sizing: border-box;
  inline-size: 100%;
  max-inline-size: 400px;
  transition: all 0.3s;
}
.cactus-login-close {
  align-self: flex-end;
  position: relative;
  margin: -1em;
  padding: 0;
  color: var(--cactus-button-color);
  scale: 1.5;
  background-color: transparent;
  border: none;
}
.cactus-login-close:hover:not([disabled]) {
  color: var(--cactus-button-color--strong);
  cursor: pointer;
}
.cactus-login-close:active:not([disabled]) {
  color: var(--cactus-button-color--stronger);
  cursor: pointer;
}
.cactus-login-close-icon {
  inline-size: 20px;
  block-size: 20px;
}
.cactus-login-title {
  align-self: center;
  font-size: 1.17em;
  font-weight: 700;
  margin: 0;
}
.cactus-login-client {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.cactus-login-client-title {
  font-size: 1em;
  font-weight: 700;
  margin: 0 !important;
  text-align: center;
}
.cactus-matrixdotto-button {
  justify-content: center;
  text-decoration: none;
}
.cactus-login-credentials {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.cactus-login-credentials-title {
  font-size: 1em;
  font-weight: 700;
  margin: 0 !important;
  text-align: center;
}
.cactus-login-field {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.cactus-login-label {
  font-size: 0.8em;
  padding-bottom: 0em;
  padding-left: 0.5em;
  color: var(--cactus-text-color--soft);
}
.cactus-login-error {
  margin: 0;
  display: none;
  font-size: 0.8em;
  color: var(--cactus-text-color--verysoft);
}
.cactus-login-field > input {
  border-radius: var(--cactus-border-radius);
  border: solid var(--cactus-border-width) var(--cactus-border-color);
  padding: 0.75em 1em 0.75em 1em;
  background-color: transparent;
  color: var(--cactus-text-color);
  font-size: inherit;
}
.cactus-login-field > input::placeholder {
  color: var(--cactus-text-color--soft);
}
.cactus-login-credentials-button {
  margin-top: 1rem;
  justify-content: center;
}
.cactus-comments-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cactus-comments-list {
  display: flex;
  flex-direction: column;
  gap: 0em;
  padding-top: 0.75rem;
}
.cactus-comment {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-block-start: 1.275em;
  padding-block-end: 1.35em;
  border-block-end: var(--cactus-border-width) solid var(--cactus-border-color);
}
.cactus-comment-avatar {
  display: flex;
}
.cactus-comment-avatar > * {
  width: 2rem;
  height: 2rem;
  border-radius: 15%;
  margin: 0;
}
.cactus-comment-avatar-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cactus-border-color);
  color: var(--cactus-text-color--soft);
}
.cactus-comment-avatar-placeholder:before {
  content: "?";
}
.cactus-comment-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cactus-comment-header {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.cactus-comment-displayname {
  font-weight: bold;
  font-family: "Inter";
  font-size: 0.85em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin-left: -0.075em;
}

.cactus-comment-time {
  color: var(--cactus-text-color--soft);
  font-size: 0.75rem;
  padding-top: 0.3em;
  padding-left: 0.1em;
}

.cactus-message-text {
    font-size: 0.85em;
}
.cactus-message-text > :first-child {
  margin-block-start: 0;
}
.cactus-message-text > :last-child {
  margin-block-end: 0;
}
.cactus-message-emote {
  padding-top: 0.5em;
  color: var(--cactus-text-color--soft);
}
.cactus-message-image {
  max-width: 100%;
  height: auto;
}
.cactus-message-file {
  line-height: 3em;
  margin-left: 1em;
}
.cactus-message-video {
  max-width: 100%;
}
.cactus-button {
  display: flex;
  align-items: center;
  padding-block: 0.6em;
  padding-inline: 1em;
  background-color: var(--cactus-button-color);
  font-weight: 700;
  border-radius: var(--cactus-border-radius);
  color: var(--cactus-button-text-color);
  font-size: 85%;
  border: none;
  transition: all 0.2s;
}

.cactus-button[disabled] {
  background-color: var(--cactus-text-color--verysoft);
}

.cactus-button:hover:not([disabled]) {
  background-color: var(--cactus-button-color--strong);
  cursor: pointer;
}
.cactus-button:active:not([disabled]) {
  background-color: var(--cactus-button-color--stronger);
  cursor: pointer;
}
.cactus-view-more {
  display: flex;
  justify-content: center;
}
.spinner {
  align-self: center;
  width: 2em;
  height: 2em;
  display: flex;
  gap: 0.3em;
}
.spinner > div {
  flex: 1;
  background-color: var(--cactus-border-color);
  animation: sk-stretchdelay 2.4s ease-in-out infinite;
}
.spinner .rect2 {
  animation-delay: -2.2s;
}
.spinner .rect3 {
  animation-delay: -2s;
}
.spinner .rect4 {
  animation-delay: -1.8s;
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  to {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
/*# sourceMappingURL=/style.css.map */
